@font-face {
    font-family: "Barber Street light";
    src: url('../fonts/Barber\ Street\ light_PersonalUseOnly.ttf');
}

@font-face {
    font-family: "Barber Street";
    src: url('../fonts/Barber\ Street\ _PersonalUseOnly.ttf');
}

html {
    padding: 0px;
    margin: 0px;
}

.padding20RL {
    padding: 0 20px;
}

.backgroundHead {
    background: url(../img/background.jpeg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    margin: 0 0 30px 0;
}

h1 {
    text-align: center;
    font-family: "Barber Street";
    font-weight: 100;
    font-size: 80px;
    color: whitesmoke;
}

h2 {
    font-weight: bolder;
    text-align: center;
}
.bandeau h2 {
    margin-bottom: 40px;
}

.bandeau {
    text-align: center;
    padding: 30px 25px 45px 25px;
    margin: 0 0 30px 0;
    background-color: #1F2D41;
    color: antiquewhite;
}

.btn {
    background-color: #1F2D41;
}

.btn-lg {
    background-color: antiquewhite;
    color: #1F2D41;
    border: 2px solid #1F2D41;
    opacity: 70%;
}

.btn-lg:hover {
    opacity: 100%;
    background-color: #1F2D41;
    color: antiquewhite;
    border: 2px solid antiquewhite;
}

/* navBar */

.logo {
    color: black;
}

.navbar-scroll .btn-lg {
    opacity: 100%;
}

.navbar-scroll {
    transition: 1s;
    background-color: white;
}

#navbarSupportedContent a:hover {
    font-weight: 600 ;
    text-decoration: underline 2px #1F2D41 ;
    text-underline-offset: 5px;
    font-size: medium;
    transition: 200ms;
}

.navbar-scroll #navbarSupportedContent .nav-link {
    color: #1F2D41;
    display: initial;
}

.navbar-scroll #navbarSupportedContent h1 {
    display: none;
}

.navbar {
    transition: 1s;
}

#navbarSupportedContent .nav-link {
    display: none;
}
    /* section apropo */
 .img1 {
    height: 350px;
    /* background: url('../img/test3.png') center center; */
    width: 570px;
    background-size: cover;
}

 .img2 {
    height: 350px;
    /* background: url('../img/test1.jpg') center center; */
    width: 570px;
    background-size: cover;
}

#apropos h4 {
    padding-top: 20px;
    text-align: center;
    color: antiquewhite;
}

#apropos p {
    text-align: left !important;
    color: antiquewhite;
}
 /* section card teamBarber */

#teamBarber .card-body {
    height: 200px;
}

#teamBarber .card img {
    height: 200px;
    width: 200px;
    margin: 40px auto 40px;
}

#teamBarber .social a {
    margin: 0 10px;
    display: inline-block;
}

#teamBarber .social {
    margin: 0px auto;
}

#teamBarber .card {
    margin: 30px 30px 50px 30px;
    text-align: center;
}

#teamBarber .card i {
    font-size: 20px;
    color: white;
    padding: 0 10px;
}

#teamBarber .card i:hover {
    color: rgb(26, 110, 179);
}

#teamBarber .card-footer {
    background-color: #1F2D41;
}

/*carousel v3*/

.bandeau-carousel {
    text-align: center;
    padding: 40px 0 70px 0;
    background-color: #1F2D41;
    color: antiquewhite;
}

.bandeau-carousel h2 {
    margin-bottom: 40px;
}

.carousel-inner img {
    height: 500px;  
    object-fit: cover;
    width: 100%;
}

.carousel-indicators {
    bottom: -45px;
}


/*contact*/
#contact{
    padding: 30px 0;
}
#contact form {
    margin: 30px auto;
    width: 80%;
}

#contact .card {
    border-radius: 25px;
    margin-top: 50px;
    height: 690px;
}

.cardForm {
    background-color: #1F2D41;
}

.cardForm label {
    color: antiquewhite;
    padding: 10px 0 5px 0;
}

.cardForm label {
    color: antiquewhite;
    padding-top: 15px;
}

.cardForm .btn {

color: #1F2D41 ;
}

.form-group button {
    margin-top: 10px;
    width: 120px;
    background-color: antiquewhite;
    color: 4px  #1F2D41;
}

.cardContactTel {

    border: solid #1F2D41 ;

}

.cardContactTel .card-body {
    height: 628px;
    text-align: center;
    padding-top: 20px;
}


.cardContactTel button {
    background-color: #1F2D41;
    color: antiquewhite;
    opacity: 100%;
    width: 300px;
    height: 65px;
}

.cardContactTel p {
    color: #1F2D41;
    padding: 25px 0 0 0;
    font-size: 18px;
}

.cardContactTel a {
    color: antiquewhite;
}
#infoForm .failedForm {
color: rgb(216, 74, 74);
font-weight: bolder;
}
#infoForm .successForm {
color: green;
font-weight: bolder;
}

/* Mobile */

@media (min-width: 801px) and (max-width: 1399px) {
    .apropo p {
        margin: 10px 15px;
    }
}

@media (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: center;
    }
    .carousel-control-prev-icon {
        display: none;
    }
    .carousel-control-next-icon {
        display: none;
    }
    .apropo p {
        margin: 0 0 15px 0;
    }
    .sec-container-reverse {
        flex-direction: column-reverse;
    }
}